:root {
    --clor: #062C30;
    --clor2: #05595B;
    --clor3: #E2D784;
    --clor4: #F5F5F5;
}

.mainwrape {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.uphead {
    height: 6vh;
    width: 100%;
    border: 2px solid;
    background-color: var(--clor2);
    color: var(--clor3)
}

.uphead ul {
    display: flex;
    list-style: none;
    margin: 0%;
    margin-top: 0.6%;
}

.uphead ul a {
    margin: 0% 0% 0% 2%;
    color: #E2D784;
}

.uphead ul li:nth-child(5) {
    margin-left: 42%
}

.uphead ul li:nth-child(6) {
    margin-left: 4%;
}

.uphead ul li:nth-child(7) {
    margin-left: 4%;
    margin-right: 2%;
}

.uphead button {
    background-color: var(--clor2);
    color: var(--clor3);
    border: none;
}


/* uphead bar done /////////////////////////////////////////////////////////////////////////////////////////// */

.header {
    border: 2px solid;
    height: 15vh;
    width: 100%;
    color: var(--clor3);
    background-color: var(--clor2);
}

.header p {
    margin: 0%;
    font-size: 50px;
}

.header ul {
    display: flex;
    list-style: none;
}

.header ul li:nth-child(1) {
    margin: 0%;
}

.header ul li:nth-child(2) {
    margin-left: 28.5%;
    color: var(--clor4);
}

.header ul li {
    margin: 0% 0% 0% 4%;
    margin-right: 0%;
    margin-top: 1.5%;
    font-size: 17px;
    font-weight: 600;
}


/* header styling done------------------------------------------------------------------------------------------ */


/* header dropdown hover started */

.parent {}

.CONTENT {
    display: none;
    position: absolute;
    z-index: 1;
}

.parent:hover .CONTENT {
    display: flex;
    flex-direction: column;
}

.parent a {
    text-decoration: none;
    color: var(--clor3);
}

.parent:hover .CONTENT a {
    background-color: var(--clor3);
    padding: 10px;
    color: var(--clor);
    margin-top: 10%;
}


/* mainpage hover drop done-------------------------------------------------------------------------------- */

.parentmc {
    float: left;
    position: relative;
}

.parentmc a {
    text-decoration: none;
    color: var(--clor3);
}

.CONTENTMC {
    display: none;
    position: absolute;
    z-index: 1;
}

.parentmc:hover .CONTENTMC {
    display: flex;
    flex-direction: column;
}

.parentmc:hover .CONTENTMC a {
    background-color: var(--clor3);
    padding: 10px;
    color: var(--clor);
    margin-top: 10%;
}


/* header dropdown doneee------------------------------------------------------------------------------- */

.header ul li:nth-child(7) {
    display: none;
    margin-right: 5%;
}


/* header media qurie  started-------------------------------------------------------------------------------*/

@media screen AND (max-width:700px) {
    .header ul li:nth-child(1) {
        display: block;
    }
    .header ul {
        justify-content: space-between;
        margin-right: 4%;
    }
    .header ul li:nth-child(7) {
        display: block;
    }
    .header ul li {
        display: none;
    }
    .uphead ul {
        display: non;
    }
    .uphead ul li:nth-child(7) {
        display: none;
    }
    .uphead ul li:nth-child(5) {
        margin-left: 15%;
    }
    .down1 {
        display: flex;
        flex-direction: column;
    }
    .down1 .content img {
        display: none;
    }
    .down2 {
        display: flex;
        flex-direction: column;
        /* display: inline-block; */
    }
    .down2 .cata1 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .down3 .content {
        overflow: hidden;
    }
}


/* header media qurie done-------------------------------------------------------------------------------- */